*{
    magin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333
}

header { 
<<<<<<< HEAD
    background-color: #0066cc;
=======
    background-color: #a300ccf1;
>>>>>>> 91446a0a792b58366ad3951b854b0ab694a555a9
    color: white; 
    padding: 20px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

section {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
<<<<<<< HEAD
    background-color: #0066cc;
=======
    background-color: #5f00cc;
>>>>>>> 91446a0a792b58366ad3951b854b0ab694a555a9
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
<<<<<<< HEAD
    background-color: #004a99;
=======
    background-color: #750099;
>>>>>>> 91446a0a792b58366ad3951b854b0ab694a555a9
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 91446a0a792b58366ad3951b854b0ab694a555a9
